* {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: 'Segoe Ui';
  width: 350px;
}

label {
  padding: 3px 10px;
  background-color: lightgray;
  border-radius: 3px;
}
input {
  margin: 10px 0;
}
button {
  padding: 5px 15px;
  border-radius: 3px;
  background-color: rgb(49, 49, 49);
  color: white;
  box-shadow: none;
  border: none;
  font-family: 'Segoe Ui';
}
button:hover {
  cursor: pointer;
  background-color: rgba(49, 49, 49, 0.7);
}
#urlsSection {
  margin: 5px 0;
  border: 1px solid;
  padding: 10px;
  min-height: 200px;
}
.important-url {
  background-color: grey;
  color: white;
  padding: 3px 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.delete-url {
  color: white;
  position: absolute;
  right: 3px;
  background-color: red;

  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 5px;
}
.delete-url:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.7);
}
